<div class="container">
    <div class="row">
      <div class="col-8 w-50 my-5">
        <div class="row form-group ">
            <div class="my-2 col-10">
              <input type="text"  [(ngModel)]="search" placeholder="Ingresa id" class="form-control">    
            </div>
            <div class="d-flex col-2" (click)="getAllEmpleadoPuesto()">
                <img src="../../../assets/img/search-button.svg" alt="search-button" class="search">
            </div>
        </div>
        <div *ngIf="this.flag" class="row">
            <div class="col-10">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">
                        {{ this.selectedEmpleadoPuesto.persona.nombre }}
                       {{ this.selectedEmpleadoPuesto.persona.apellidos }}
                      {{ this.selectedEmpleadoPuesto.puesto.nombre }}
                    </li>
                </ul>
                
            </div>
            <div class="d-flex col-2" (click)="clearVar()">
                <img src="../../../assets/img/cerrar.png" alt="search-button" class="search">
            </div>
        </div>
        <ul *ngIf="!this.flag" class="list-group">
          <li *ngFor="let empleado of this.empleadoPuesto" class="list-group-item list-group-item-action" (click)="updateEmpleadoPuesto(persona)">
                <span class="mx-3">{{ empleado.persona.nombre }}</span>
                <span class="mx-3">{{ empleado.persona.apellidos }}</span>
                <span class="mx-3">{{ empleado.puesto.nombre }}</span>

                <div>
                    <img src="../../../assets/img/delete-button.svg" alt="detele" class="borrar" (click)="deleteEmpleadoPuesto(persona)">
                </div>
          </li>
        </ul>
      </div>
      <div class="col-4 card my-5 w-50">
        <span class="my-3">Insertar empleado</span>
        <div class="form-group my-2 mx-2">
            <select class="sel-st" name="puestos" [(ngModel)]="selectedEmpleadoPuesto.puesto">
                <option value="" disabled>Elige un puesto</option>
                <option *ngFor="let puesto of this.puestos" [ngValue]="puesto">
                  {{ puesto.nombre }}
                </option>
              </select>
        </div>

        <div class="form-group my-2 mx-2">
            <select class="sel-st" name="personas" [(ngModel)]="selectedEmpleadoPuesto.persona">
                <option value="" disabled>Elige un persona</option>
                <option *ngFor="let persona of this.personas" [ngValue]="persona">
                  {{ persona.nombre }}
                </option>
              </select>
        </div>

        <button (click)="addEmpleadoPuesto()" (click)="getAllEmpleadoPuesto()">Guardar</button>
      </div>
    </div>
</div>
  